body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
  }
  * {
    font-family: "Arial", sans-serif;
  }
  .container {
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    font-size: 1.2em;
    color: #202C39;
  }

  #searchbar {
     padding: 15px;
     border-radius: 5px;
  }

  input[type=text] {
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }
  #list {
    border: 1px solid rgb(12, 11, 11);
    border-radius: 5px;
    display: none;
 }
 .listItem {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
    cursor: pointer;
 }
 .listItem:hover {
    background-color: lightgrey;
 }